<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../partials/prove03/shopnavStyle.ejs %>
    <link rel="stylesheet" href="/stylesheets/prove03Style/forms.css">
    <style>
        .login-form{
            width: 20rem;
            max-width: 90%;
            margin:auto;
            display: block;
        }
    </style>
</head>

<body>
    <% include ../../../partials/prove03/shopnav.ejs %>

    <div class="center">
        <h1><%= pageTitle %></h1>
    </div>

    <main>
        <div>
            <% if (errorMessage) { %>
                <div class="user-message user-message--error"><%= errorMessage %></div>
            <% } %>
        </div>
        <div class="form-container">
        <form class="login-form" action="./login" method="POST">

            <label for="email">Email</label>
            <input type="text" name="email" id="email" value="<%= oldInput.email %>">

            <label for="password">Password</label>
            <input type="text" name="password" id="password" value="<%= oldInput.password %>">
            
            
            <button class="btn" type="submit">Login</button>
        </form>
        <div class="centered">
            <a href="/proveRoutes/prove03Routes/prove03R/passReset">Reset Password</a>
        </div>
    </div>
    </main>
</body>