<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../includes/header.ejs %>
    <link rel="stylesheet" href="/stylesheets/prove02Style.css">
</head>

<body>
    <% include ../../../includes/nav.ejs %>

    <div class="center">
        <h1><%= Title %></h1>
    </div>
    <ul>
        <li><a href="/proveRoutes/prove03Routes/prove03R/add-book">Add book</a></li>
        <li><a href="/proveRoutes/prove03Routes/prove03R/book-details">Catalogue</a></li>
        <li><a href="/proveRoutes/prove03Routes/prove03R/Admin-tools">Admin Tools</a></li>
        <li><a href="/proveRoutes/prove03Routes/prove03R/cart">Cart</a></li>
        <li><a href="/proveRoutes/prove03Routes/prove03R/order">Order</a></li>

    </ul>

</body>