<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../partials/prove03/shopnavStyle.ejs %>
    <link rel="stylesheet" href="/stylesheets/prove03Style/buttons.css">
    
    <title>Document</title>
</head>

<body>
    <% include ../../../partials/prove03/shopnav.ejs %>
    
    <a  href="/"><button class="red small button ">Return to Home</button></a>

    <div class="content">

        <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui minus nemo amet illo reiciendis sequi corrupti
            maxime in explicabo! Ea voluptate quaerat exercitationem eligendi magni nulla consequatur, fugiat magnam
            molestiae.</h1>
    </div>
</body>